
@{
    ViewData["Title"] = "Egitim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Eğitim Sayfamız</h1>
            <p>Bu sayfada eğitim ile ilgili bilgiler bulacaksınız.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Kurslarımız</h2>
            <ul>
                <li>Web Geliştirme</li>
                <li>Mobil Uygulama Geliştirme</li>
                <li>Veri Bilimi</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Eğitmenlerimiz</h2>
            <ul>
                <li>Ahmet Yılmaz</li>
                <li>Ayşe Kaya</li>
                <li>Mehmet Demir</li>
            </ul>
        </div>
    </div>
</div>

